*.o
qi/01_num_list1/num_list1
qi/02_actions/actions
qi/03_complex_number/complex_number
qi/04_sum/sum
qi/05_num_list2/num_list2
qi/06_num_list3/num_list3
qi/07_num_list4/num_list4
qi/08_roman/roman
qi/09_employee/employee
